/*
    General Rules:
        - Break lines if there are more than 3 lines.

    References:
        - http://code.tutsplus.com/tutorials/5-ways-to-instantly-write-better-css--net-3003
*/


/*****Reset*****/
/* http://code.tutsplus.com/tutorials/5-ways-to-instantly-write-better-css--net-3003 */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td { margin: 0; padding: 0; font-family: Tahoma, Geneva, sans-serif; }

/***** Basic Elements *****/
div { display: inline-block; overflow: hidden; vertical-align: top; }

body {
    background-color: #ffc3a0;
    color: #545454;
    text-align: center;
    width: auto;
}

/***** Generic Classes *****/
.transfer-card {
    background: white;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    display: block;
    margin: 1px auto;
    position: relative;
}

.player { position: relative; vertical-align: middle; }

.team { position: relative; vertical-align: middle; }

/***** Basic Layout *****/
@media (min-width: 481px) {
    .middle-frame {
        margin: auto;
        max-width: 100%;
        padding: 0 1em;
        width: 480px;
    }
}

@media (max-width: 480px) {
    .middle-frame {
        margin: auto;
        padding: 0 1em;
        width: 100%;
    }    
}

/***** Header *****/

/***** Content *****/
.transfer-card--simple { height: 320px; width: 100%; }

.transfer-card--mini { height: 174px; width: 100%; }

.deal-info {
    border-bottom: 2px dotted gray;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.sources {
    border-top: 2px dotted gray;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.team--simple { width: 60px; }

.team--simple img { max-height: 100%; max-width: 100%; }

.team--mini { width: 60px; }

.team--mini img { max-height: 100%; max-width: 100%; }

.player--simple { height: 240px; margin: auto; width: 360px; }

.player--simple .photo-frame { width: 40%; }

.player--simple .photo-frame img { max-height: 100%; max-width: 100%; }

/*.player--simple .card-cover:hover {  }*/

.player--simple .description-frame { height: 90%; text-align: left; }

.player--simple .description-frame div { max-height: 100%; max-width: 100%; }

.player--mini { height: 60px; margin: 15px auto; width: 360px; }

/*.player--mini:hover {  }*/

.player--mini .photo-frame { display: none; }

/*.player--mini .description-frame {  }*/

.player--mini .description-frame div { display: none; }

/* http://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.card-cover {
    background-color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

/***** Footer *****/

/***** Etc *****/
