/*
    General Rules:
        - Break lines if there are more than 3 lines.

    References:
        - http://code.tutsplus.com/tutorials/5-ways-to-instantly-write-better-css--net-3003
*/


/*****Reset*****/
/* http://code.tutsplus.com/tutorials/5-ways-to-instantly-write-better-css--net-3003 */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td { margin: 0; padding: 0; font-family: Tahoma, Geneva, sans-serif; }

/***** Basic Elements *****/
* {
    /* for layout debugging purpose only */
    /*border: 1px dashed red;*/
}

div { overflow: hidden; vertical-align: top; }

body { background-color: #ffc3a0; text-align: center; width: auto; }

@media (min-width: 481px) {
    #main-frame {
        display: inline-block;
        margin: auto;
        max-width: 100%;
        padding: 0 1em;
        width: 480px;
    }
}

@media (max-width: 480px) {
    #main-frame {
        display: inline-block;
        margin: auto;
        padding: 0 1em;
        width: 100%;
    }    
}

/***** Generic Classes *****/

/***** Basic Layout *****/

/***** Header *****/

/***** Content *****/
.simple-transfer-card {
    background: white;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    color: #545454;
    display: block;
    height: 320px;
    margin: 1px auto;
    padding: 0px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.mini-transfer-card {
    background: white;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    color: #545454;
    display: block;
    height: 174px;
    margin: 1px auto;
    padding: 0px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}

.simple-deal-info {
    border-bottom: 2px dotted gray;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: auto 10px;
    text-align: center;
}

.simple-sources {
    border-top: 2px dotted gray;
    height: 40px;
    line-height: 40px;
    padding: auto 10px;
    text-align: center;
}

.simple-team { display: inline-block; vertical-align: middle; width: 60px; }

.simple-team img { max-height: 100%; max-width: 100%; }

.mini-team { display: inline-block; vertical-align: middle; width: 60px; }

.mini-team img { max-height: 100%; max-width: 100%; }

.simple-player-card {
    background: white;
    color: #545454;
    display: inline-block;
    height: 240px;
    margin: auto;
    position: relative;
    vertical-align: middle;
    width: 360px;
}

.simple-player-card .photo-frame img { max-height: 100%; max-width: 100%; }

.simple-player-card .photo-frame { display: inline-block; padding: 10px; width: 40%; }

.simple-player-card .card-cover:hover {
/*    background: rgba(255,0,0,0.1);*/
}

.simple-player-card .description-frame { display: inline-block; height: 90%; text-align: left; }

.simple-player-card .description-frame h2 { display: block; max-height: 100%; max-width: 100%; }

.simple-player-card .description-frame div { display: inline-block; max-height: 100%; max-width: 100% }

.mini-player-card {
    background: white;
    color: #545454;
    display: inline-block;
    height: 60px;
    margin: 15px auto;
    position: relative;
    vertical-align: middle;
    width: 360px;
}

.mini-player-card:hover {
/*    background: rgba(255,0,0,0.1);*/
}

.mini-player-card .photo-frame { display: none; }

.mini-player-card .description-frame {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
}

.mini-player-card .description-frame h2 { display: block; max-height: 100%; max-width: 100%; }

.mini-player-card .description-frame div { display: none; }


/* http://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.card-cover {
    background-color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

/***** Footer *****/

/***** Etc *****/
